.header {
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(182, 255, 231);
  height: 40px;
}

.header__nav-link,
.header__username {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(0, 255, 200);
  width: 100px;
}

.header__nav-link {
  cursor: pointer;
  text-decoration: underline;
}

.header__username {
  font-weight: bold;
}